

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h2 {
    margin-top: 40px;
    font-size: 22px;
    letter-spacing: 1px;
}





.course-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.course-card {
    background: #ffffff;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: left;
}

.course-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.course-content {
    padding: 15px;
}

.course-content h3 {
    margin: 10px 0;
    font-size: 16px;
}

.status {
    font-size: 14px;
    font-weight: bold;
}

.upcoming { color: green; }
.ongoing { color: orange; }
.completed { color: rgb(240, 9, 9); }

.info {
    font-size: 13px;
    color: #777;
    margin: 5px 0;
}

.description {
    font-size: 13px;
    color: #444;
    margin: 10px 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.price.free {
    color: green;
    font-weight: bold;
}

.price.premium {
    color: orange;
    font-weight: bold;
}

.btn {
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 12px;
  
}

.btn.start {
    background-color: #ffc107;
}
.btn.start:hover {
    background-color: #fa8b04;
}

.btn.unlock {
    background-color: #ddd;
}
.btn.unlock:hover {
    background-color: #ccc;
}

.btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.btn.disabled:hover {
    background-color: #ccc;
}

.explore-btn button {
    margin: 20px 0 50px;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background-color: #ffc107;
    font-weight: bold;
    cursor: pointer;
}
.explore-btn button:hover {
    background-color: #fc8004;
}







.partners-section {
    background-color: #eaeaea;
    padding: 40px 0;
}

.partners-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.partners-container img {
    width: 100px;
    height: auto;
}
